body {
    background-color: #FFFFFF;
    padding-bottom: 30px;
    padding-top: 60px;  /* Add top padding equal to or larger than the navbar height */
    margin: 0%;
}



body, html {
    height: 100%; /* ensures entire page takes full viewport height */
}


#about, #contact, #faq {
    scroll-margin-top: 70px;
}

.navbar {
    background-color: #69B3E7;
    position: fixed;
    width: 100%; /*maximize the width of the pg w navbar*/
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000; /* Ensure navbar stays on top */
}

.navbar a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 15px;
    text-decoration: none; /*no link underline*/
    font-size: 17px;
}

.navbar a:hover {
    background-color: #8cc4eb;
}

.appointment {
    background-color: #FFC72C;
}

.navbar .appointment:hover {
    background-color: #f3cb5f;
}

.logo img{
    width: 40px;
    height: 30px;
}

/* Hero */
.hero-image-container {
    /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("assets/hero_img.png");
    /* Set a specific height + width */
    width: 100vw;
    height: 90vh;
    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }

  #hero_img {
    
  }














